<ion-header>
  <ion-toolbar>
    <ion-title>
      Notícias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img
      src="https://s2.glbimg.com/A8fRz5WZlb2JmrnhyMNFEDKdQbw=/0x0:1280x960/1600x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/G/F/ahHKCqSZiNKYiw7eIwGQ/enem.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>ENEM</ion-card-subtitle>
      <ion-card-title>Gabarito oficial do Enem 2019 será divulgado nesta quarta.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Participantes poderão conferir os acertos, mas as notas com resultado individual só serão divulgadas em janeiro de
      2020.

    </ion-card-content>
    <ion-button size="small"
      href="https://g1.globo.com/educacao/enem/2019/noticia/2019/11/13/gabarito-oficial-do-enem-2019-sera-divulgado-nesta-quarta.ghtml"
      color="light">Ver Notícia</ion-button>
  </ion-card>
  <ion-card>
    <img
      src="https://s2.glbimg.com/hL4vf7IAnjxlA1gSsojlduCJakM=/0x0:1096x974/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/8/y/AwdQ6gSp63ASrM77oe9w/print-fernanda-4.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Empregos</ion-card-subtitle>
      <ion-card-title>Oferta de emprego que veta 'negras e gordas' vira caso de polícia em Belo Horizonte.
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Cuidadora de idosos Eliangela Carlos Lopes viu anúncio em grupo de WhatsApp, ficou revoltada, procurou a PM para
      registrar um boletim de ocorrência: 'Fiquei em estado de choque'.
    </ion-card-content>
    <ion-button size="small"
    href="https://g1.globo.com/mg/minas-gerais/noticia/2019/11/13/oferta-de-emprego-que-veta-negras-e-gordas-vira-caso-de-policia-em-bh.ghtml"
    color="light">Ver Notícia</ion-button>
  </ion-card>
  <ion-card>
    <img
      src="https://s2.glbimg.com/gw23rAdEH3SBintDXrUttYYPYc0=/0x0:1700x1065/1600x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/X/p/OBLAnxRhOHoZPnfjuW6w/4.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Mundo</ion-card-subtitle>
      <ion-card-title>Maré alta histórica afeta Veneza.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      'Acqua alta' atingiu 1,87 m segundo o Centro de Marés da cidade italiana, a maior desde novembro de 1966.
    </ion-card-content>
    <ion-button size="small"
    href="https://g1.globo.com/mundo/noticia/2019/11/13/mare-alta-historica-afeta-veneza.ghtml"
    color="light">Ver Notícia</ion-button>
  </ion-card>
</ion-content>