<ion-header>
  <ion-toolbar>
    <ion-title>
      Livros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="http://www.sobrelivros.com.br/imagens/capas/rangers-ordem-dos-arqueiros-livro1.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Saga de Livros</ion-card-subtitle>
      <ion-card-title>Rangers Ordem dos Arqueiros - John Flanagan</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Durante a vida inteira, o pequeno e frágil Will sonhou em ser um forte e bravo guerreiro, como o pai, que ele
      nunca conheceu. Por isso, ficou arrasado quando não conseguiu entrar para a Escola de Guerra.
    </ion-card-content>
    <ion-button size="small" href="http://www.sobrelivros.com.br/info-rangers-ordem-dos-arqueiros-john-flanagan/"
      color="success">Ver Descrição da Saga</ion-button>
  </ion-card>
  <ion-card>
    <img src="http://www.sobrelivros.com.br/imagens/capas/saga-do-assassino-livro1.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Saga de Livros</ion-card-subtitle>
      <ion-card-title>Saga do Assassino – Robin Hobb</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      “A fonte original do Talento provavelmente ficará para sempre envolta em mistério. É certo que uma vocação para
      ele corre com notável força no sangue da família real; contudo, não está apenas confinado à casa do rei. Parece
      haver alguma verdade no ditado do povo: Quando o sangue do mar corre com o sangue das planícies, o Talento
      floresce”.
    </ion-card-content>
    <ion-button size="small" href="https://www.sobrelivros.com.br/info-saga-do-assassino-robin-hobb/" color="dark">Ver
      Descrição da Saga</ion-button>
  </ion-card>
  <ion-card>
    <img src="http://www.sobrelivros.com.br/imagens/capas/as-cronicas-de-gelo-e-fogo-livro1.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Saga de Livros</ion-card-subtitle>
      <ion-card-title>As Crônicas de Gelo e Fogo – George R. R. Martin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      As Crônicas de Gelo e Fogo é uma série de livros de alta fantasia escrita pelo romancista e roteirista
      norte-americano George R. R. Martin, e publicada pela editora Bantam Spectra. Martin começou a desenvolvê-la em
      1991 e o primeiro volume foi lançado em 1996. Originalmente concebida para ser uma trilogia, a série consiste em
      cinco volumes publicados, com mais dois planejados.
    </ion-card-content>
    <ion-button size="small" href="https://www.sobrelivros.com.br/info-as-cronicas-de-gelo-e-fogo-george-r-r-martin/"
      color="medium">Ver Descrição da Saga</ion-button>
  </ion-card>
</ion-content>